[submodule "ext/filesystem"]
	path = ext/filesystem
	url = https://github.com/wjakob/filesystem
[submodule "ext/tbb"]
	path = ext/tbb
	url = https://github.com/wjakob/tbb
[submodule "ext/pugixml"]
	path = ext/pugixml
	url = http://github.com/zeux/pugixml
[submodule "ext/tinyformat"]
	path = ext/tinyformat
	url = https://github.com/wjakob/tinyformat
[submodule "ext/hypothesis"]
	path = ext/hypothesis
	url = https://github.com/wjakob/hypothesis
[submodule "ext/pcg32"]
	path = ext/pcg32
	url = https://github.com/wjakob/pcg32
[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/mitsuba-renderer/zlib
[submodule "ext/openexr"]
	path = ext/openexr
	url = https://github.com/mitsuba-renderer/openexr/
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/glog"]
	path = ext/glog
	url = https://github.com/google/glog.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/glew"]
	path = ext/glew
	url = https://github.com/nigels-com/glew.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
